body{
    background-color: rgb(193, 193, 193);
    font-family: 'Nanum Gothic', sans-serif;
    color: rgb(58, 58, 58);
    line-height: 200%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: rgb(58, 58, 58);
}
.A{
    font-size: 24px;
    text-align: center;
}

@media (max-width: 900px){
    .A {
        font-size: 20px;
    }
}

.A > div{
    padding: 20px;
}

.B{
    margin-top: 50px;
}

a:hover{
    color: rgb(234, 89, 89);
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.flex-container.center{justify-content: center;}

.flex-item{
    width: 20%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 2.5%;
    margin-bottom: 1.5%;
    font-size: 18px;
    text-align: left;
    
}

.flex-item p{
    margin-top: 4%;
}

.flex-item img{
    width: 100%;
}

.flex-item .main:hover{
    opacity: 70%;
}

.modal-dialog {
    max-width: 700px;
}

@media (max-width: 767px){
    /*모바일*/
    .flex-container {
        display: block;
        width: 90%;

    }
    .flex-item{
        width: 80%;
        margin-left: 16%;
        margin-bottom: 15%;
        font-size: 20px;
    }

    .m-right{
        margin-left: 12%;
    } 

}

@media (min-width: 768px) and (max-width: 991px) {
    /*테블릿 세로*/
    .flex-container {
        width: 90%;

    }
    .flex-item{
        width: 40%;
        margin-left: 8%;
        margin-bottom: 5%;
        font-size: 20px;
        
    }
    .m-center{
        margin-left: 2%;
    }

}


.info p{
    font-size: 14px;
}

footer{
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}
