/*media_480_css*/
header h1{
    width: 13%;
}
header h1 img{
    width: 56%;
}
header div#mobile_nav{
    display: none;
}
header nav{
    width: 70%;
}
header nav > ul > li > a{
    font-size: 10px
}
header nav > ul > li > ul{
    top: 73px;
}
header nav ul > li > ul > li > a{
    font-size: 10px
}
header div#shop{
    width: 13%;
}
header div#shop a{
    font-size: 10px
}
section div#secWrap span.wrap img{
    width: 30%;
    top: 25%;
    left: 35%
}
article h3{
    font-size:14px
}

article div.c1{
    left: 10%;
    top: 25%;
}
article div.c2{
    left: 70%;
    top: 70%;
}
article div.c3{
    left: 39%;
    top: 25%;
}
article div.c4{
    left: 10%;
    top: 70%;
}
article div.c5{
    left: 40%;
    top: 70%;
}
article div.c6{
    left: 70%;
    top: 25%;
}
article div.product,
article div.product img{
    width: 150px;
    height: 150px;
}
article div.product a{
    margin-top: 38px;
    font-size: 10px
}
article div.product a span{
    font-size: 14px;
}
div#conBwrap{
    margin-top:40%
}
div#conBwrap div#cont{
    width: 100%;
    margin: 0;
}

div#conBwrap div#cont div#textWrap{
    top: -10%
}
div#conBwrap div#cont div#textWrap h3,
div#conBwrap div#cont div#textWrap span#our{
    margin: 0;
    font-size: 18px
}

div#conBwrap div#cont div#textWrap span#our{
    font-size: 28px
}
div#conBwrap div#cont div#textWrap span span.yellow{
    font-size: 30px;
}
div#conBwrap div#cont div#big{
    border-radius: 0;
    position: unset;
    margin: 0;
    width: 100%;
    height:190vw
}
div#conBwrap div#cont div#big div#rotate{
    display: none;
}
div#conBwrap div#cont div#contWrap{
    width: 100%;
    top: 4%
}
div#cont div#contWrap div#contWrap2{
    margin-bottom: 20%;
}
div#cont div#contWrap div#contWrap2 div dl{
    font-size: 14px
}
div#cont div#contWrap div#contWrap2 div.w47{
    width: 75%;
}
div#cont div#contWrap div#contWrap2 div.w47 div#bt{
    right: 2%;
}
div#cont div#contWrap div#contWrap2:nth-child(2) div.w47{
    float: right;
    margin-top: 25%;
}
div#cont div#contWrap div#contWrap2:nth-child(2) div.w47 div#bt {
    right: 35%;
}
div#cont div#contWrap div#contWrap2:nth-child(2) div.w47 span#more {
    right: 43%;
}
div#cont div#contWrap div#contWrap2 div.w52{
    display: none;
}
div#cont div#contWrap div#contWrap2:last-child div.w47{
    height: 35vw;
}
div#cont div#contWrap div#contWrap2:last-child div.w47 dl{
    position: absolute;
    top: 130%;
}
div#cont div#contWrap div#contWrap2:last-child div.w47 div#bt{
    position: absolute;
    top: 200%;
}
div#cont div#contWrap div#contWrap2:last-child div.w47 span#more{
    top: 200%;
}

div#cont div#contWrap div#contWrap2:first-child:after{
    content: "";
    background-image: url(../img/p1.jpg);
    background-size: 100%;
    display:inline-block;
    width: 38%;
    height: 29vw;
    position: absolute;
    left: 13%;
    top: 18%;
    box-shadow:5px 5px 25px #999
}
div#cont div#contWrap div#contWrap2:nth-child(2):before{
    content: "";
    background-image: url(../img/p2.jpg);
    background-size: 100%;
    display:inline-block;
    width: 38%;
    height: 29vw;
    position: absolute;
    left: 53%;
    top: 18%;
    box-shadow:5px 5px 25px #999
}

div#cont div#contWrap div#contWrap2:nth-child(2):after{
    content: "";
    background-image: url(../img/p3.jpg);
    background-size: 100%;
    display:inline-block;
    width: 38%;
    height: 29vw;
    position: absolute;
    left: 13%;
    top: 68%;
    box-shadow:5px 5px 25px #999
}
div#cont div#contWrap div#contWrap2:last-child:before{
    content: "";
    background-image: url(../img/p6.jpg);
    background-size: 100%;
    display:inline-block;
    width: 38%;
    height: 29vw;
    position: absolute;
    left: 53%;
    top: 68%;
    box-shadow:5px 5px 25px #999
}


div#as{
    height: 350px;
}
div#as div.asWrap > div{
    width: 80%;
    margin-left: -16%;
}
div#as div.asWrap > div img{
    width: 100%;
}
div#as div.asWrap > div span#open{
    top: 36%;
}
div#as div#asCircle{
    width: 43%;
}
div#as div#asCircle div#asCircleWrap{
    margin-top: 40%;
    margin-left: 55%;
}
div#as div#asCircle div#asCircleWrap div#front{
    width: 180px;
    height: 180px;
}
div#as div#asCircle div#asCircleWrap div#front img{
    margin-top: 16%;
}
div#as div#asCircle div#asCircleWrap div#back{
    top: 34%;
    left: 53%;
    }  

footer{
    padding-bottom: 3%;
}
footer div#leftLogo{
    margin-top: 10%;
}
footer div#leftLogo img{
    width: 60%;
}
footer div#rightLogo{
    margin-top: 8%;
}
footer div#rightLogo img{
    width: 20%;
}







