/*media_1000_css*/
header h1{
    width: 18%;
    float: left; 
    padding-left:2%
}
header h1 img{width: 35%;}
header div#mobile_nav{
    display: none;
}
header nav > ul > li > ul{
    width: 100%;
}
section div#secWrap span.wrap img{
    width: 20%;
    top: 33%;
    left: 40%
}
section div#secWrap span.wrap span.fontWrap{
    font-size:16px;
}
article div.product{
    width:145px; 
    height:145px; 
    border-radius:100%;
    position: absolute;
    }
article div.product span{font-size:14px;}
article div.product span.hr2{
    display: block;
    margin:10px auto;
    width:50px;
    height: 1px;
    background-color: #fff;}
article div.product a{
    display: block;
    margin-top: 35px;
    font-size:10px; 
    color: #fff;
    }    
    
article div.c1{left: 14%; top: 10%}
article div.c2{left: 44%; top: 35%}
article div.c3{left: 29%; top: 35%}
article div.c4{left: 14%; top: 62%}
article div.c5{left: 44%; top: 62%}
article div.c6{left: 73%; top: 62%}

article div img{
    width:145px; 
    height:145px; 
    border-radius:100%; 
    opacity:1;
    }        

    
div#conBwrap div#cont div#big{
    width:740px;
    height:740px;
}
   
div#conBwrap div#cont div#big div#rotate{
    width:700px; 
    height:700px;
    }

div#conBwrap div#cont div#big div#rotate div#mini{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10%;
    left: 5%;
    }
div#conBwrap div#cont div#big div#rotate div#mini2{
    position: absolute;
    width: 150px;
    height:150px;
    bottom: 10%;
    right:0;
    }

div#conBwrap div#cont div#textWrap{
    top:-15%;
    }    
div#conBwrap div#cont div#textWrap span#our{margin-top: -6%;}
div#conBwrap div#cont div#textWrap span{font-size: 35px}
div#conBwrap div#cont div#contWrap div#contWrap2 div dl{font-size:6px}
div#conBwrap div#cont div#contWrap div:first-child div.w47 dl{
    height:140px;
    padding-left: 45%;
    }
div#conBwrap div#cont div#contWrap div:nth-child(2) div.w47 dl{
    height:150px;
    }
div#conBwrap div#cont div#contWrap div:last-child div.w47 dl{
    height:200px;
    padding-left: 62%;
    }

div#conBwrap div#cont div#contWrap div#contWrap2 div.w47 span#more{
    font-size: 13px;
    right:14%
    }
div#conBwrap div#cont div#contWrap div#contWrap2:nth-child(2) div.w47 div#bt{
    right: 34%;
    }
div#conBwrap div#cont div#contWrap div#contWrap2:nth-child(2) div.w47 span#more{
    right: 43%;
    }
    
div#as{height: 330px;}
div#as div.asWrap > div img{width: 100%;}
div#as div#asCircle{
    width: 200px; 
    height: 200px;
}
div#as div#asCircle div#asCircleWrap{
    margin-top: 30%;
    margin-left: 60%;
}
div#as div#asCircle div#asCircleWrap div#front{
    width: 200px;
    height: 200px;
}
div#as div#asCircle div#asCircleWrap div#front img{
    margin-top: 16%;
}
div#as div#asCircle div#asCircleWrap div#back{
    top: 35%;
    left: 65%;
    }   
div#as div#asCircle div#asCircleWrap:hover div#front{
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg); 
   
}
div#as div#asCircle div#asCircleWrap:hover div#back{
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg)
}



footer div#leftLogo{margin-top:10%}
footer div#rightLogo{margin-top:9%}
footer div#leftLogo img{width:50%;}
footer div#rightLogo img{width:10%}
    
